body {
  margin: 50px 400px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(220, 217, 249) 0%,
    rgb(172, 224, 217) 89.8%
  );
}

.weather-app {
  padding: 75px;
  display: block;
  background-color: #f9f7fe;
  border: 1px;
  border-radius: 50px;
  box-shadow: 5px 5px 35px rgba(153, 153, 153, 0.785);
}
form {
  background-color: #f9f7fe;
  transform: translate(0, -25px);
}
input[type="search"] {
  padding: 20px 150px;
  border-radius: 15px;
  background-color: #bdabc0a3;
  border: 1px;
}
input[type="submit"] {
  padding: 20px 35px;
  border: 1px;
  border-radius: 15px;
  background-color: #889abec2;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  opacity: 1;
}
input::placeholder {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  transform: translate(-105px, 0);
  font-weight: 400;
}

input[type="submit"]:hover {
  color: #ffffff;
  background-color: rgba(217, 158, 113, 0.804);
  cursor: pointer;
}
#city {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  transform: translate(240px, 15px) scale(1.8, 1.8);
  transition: all 150ms ease-in-out;
}
#city:hover {
  color: rgba(217, 158, 113, 0.804);
}
h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  transform: scale(2.8, 2.8) translate(305px, -7px);
}
.unit {
  font-size: 9px;
  font-weight: 400;
}
p {
  font-family: "Inter", sans-serif;
  color: #3c4557c2;
  transform: translate(0, -10px);
}
.humidity-value {
  color: #8049b3c2;
  font-weight: 750;
}
.wind-value {
  color: #8049b3c2;
  font-weight: 750;
}

footer {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #535f77c2;
  transform: translate(110px, 60px);
}
a {
  color: #8049b3c2;
}
