body {
  margin: 40px 370px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(220, 217, 249) 0%,
    rgb(172, 224, 217) 89.8%
  );
}

.weather-app {
  padding: 90px;
  display: block;
  background-color: #f9f7fe;
  border: 1px;
  border-radius: 50px;
  box-shadow: 5px 5px 35px rgba(153, 153, 153, 0.785);
}
form {
  background-color: #f9f7fe;
  transform: translate(0, -25px);
  align-items: center;
  display: block;
  margin: 0 auto;
}
input[type="search"] {
  padding: 20px 150px;
  border-radius: 15px;
  background-color: #bdabc0a3;
  border: 1px;
}
input[type="submit"] {
  padding: 20px 35px;
  border: 1px;
  border-radius: 15px;
  background-color: #889abec2;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  opacity: 1;
}
input::placeholder {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  transform: translate(-105px, 0);
  font-weight: 400;
}

input[type="submit"]:hover {
  color: #ffffff;
  background-color: rgba(217, 158, 113, 0.804);
  cursor: pointer;
}
#city {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 70px;
  transition: all 150ms ease-in-out;
  transform: translate(15px, -5px);
}
#city:hover {
  color: rgba(217, 158, 113, 0.804);
}
h2 {
  font-family: "Inter", sans-serif;
  font-size: 95px;
  margin: 0;
  padding: 0;
  transform: translate(320px, 0px);
}
.unit {
  font-size: 20px;
  font-weight: 400;
}
p {
  font-family: "Inter", sans-serif;
  color: #3c4557c2;
  transform: translate(15px, -75px);
  margin: 0;
}
#humidity-value {
  color: #8049b3c2;
  font-weight: 750;
}
#wind-value {
  color: #8049b3c2;
  font-weight: 750;
}
.forecast {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  background-color: #d3c6d7;
  border: 1px solid #d3c6d7;
  border-radius: 20px;
}
.day-of-the-week {
  transform: translate(62px, -5px);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: #7744a6d6;
}
.max-temperature-forecast {
  color: #6d1fb6c2;
  transform: translate(-42px, 85px);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.min-temperature-forecast {
  color: #6d7b98c2;
  transform: translate(-90px, 85px);
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.forecast-icon {
  transform: scale(0.9);
}
footer {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #535f77c2;
  text-align: center;
  transform: translate(0px, 55px);
}
a {
  color: #8049b3c2;
}
